.animated{

    transform: scale(0);
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: body-fade-in 3s ease-in-out;
    z-index: -100;
}
body::before{
    content: 'baroque';
    position: absolute;
    display: grid;
    opacity: 0;
    top: 45%;
    width: 100%;
    height: 100px;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    animation: body-text-fade-in 2.5s ease-in-out;
    z-index: -100;
}
html * {
    transition: 0.3s;
}
@keyframes body-text-fade-in{
    from{
        
        z-index: 1000;
    }
    30%{
        opacity: 1;
    }
    50%{
        color: white;
    }
    to{
        background: transparent;
        z-index: 1000;
    }
}
@keyframes body-fade-in{
    from{
        background: #504e5b;
        z-index: 100;
    }
    85%{
        background: #504e5b;
        z-index: 100;
    }
    to{
        background: transparent;
        z-index: 100;
    }
}
@keyframes main-title{
    0%{
        margin-left: -100%;
    }
    50%{
        margin-left: -100%;
    }
    to{
        margin-left: 0;
    }

}
@keyframes main-subtitle{
    0%{
        margin-left: -100%;
    }
    30%{
        margin-left: -100%;
    }
    to{
        margin-left: 0;
    }

}
@keyframes main-link{
    0%{
        margin-left: -100%;
    }
    50%{
        margin-left: -100%;
    }
    to{
        margin-left: 0;
    }

}
@keyframes main-info{
    0%{
        margin-right: -100%;
    }
    50%{
        margin-left: -100%;
    }
    to{
        margin-left: 0;
    }

}